.disabled {
    pointer-events: none; /* クリック無効 */
    opacity: 0.5;         /* 視覚的に無効を示す */
}

body {
    margin: 10svh auto;

}

#logoArea {
    margin:0 auto;
    padding: 0 5svh;
    width: 50svh;
    text-align: center;
}
#logoArea img {
    height: 20svh;
}

#uiArea{
    margin: auto;
    padding: 2svh 5svh 5svh;
    width: 50svh;
    height: 50svh;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 5pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#pageTitle {
    font-size: 4svh;
    text-decoration:underline;
}

#tempCodeCon, #passwordCon, #passwordConfirmCon, #usernameCon {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tempCodeCon p, #passwordCon p, #passwordConfirmCon p, #usernameCon p{
    margin: 0;
    font-size: 1.7svh;
    text-align: left;
}

#tempCodeCon p span, #passwordCon p span, #passwordConfirmCon p span, #usernameCon p span{
    color: red;
    font-size: 1.7svh; 
}

#tempCode, #password, #passwordConfirm, #username{
    width: 40svh;
    height: 3svh;
    font-size: 2svh;
}

#submitButton {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: auto;
    font-size: 3.5svh;
    color: white;
    height: 6svh;
    width: 85%;
    margin: auto;
    border-radius: 50px;
    border: solid 1px gainsboro;
    cursor: pointer;
}

#submitButton:hover {
    border: double 3px;
}

#coment,#caution {
    font-size: 1.5svh;
}

@media (max-width:80lvh){
    body {
        margin: 5svh auto;    
    }
    
    #logoArea {
        margin:0 auto;
        padding: 0 5svw;
        width: 80svw;
        text-align: center;
    }
    #logoArea img {
        width: 70svw;
        height: auto;
    }
    
    #uiArea{
        text-align: center;
        margin: auto;
        padding: 0.5svh 5svw;
        width: 80svw;
        height: auto;
        min-height: 64svh;
        border: solid 2px rgba(0, 0, 0, 0.5);
        border-radius: 5pt;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    #pageTitle {
        font-size: 5svw;
        text-decoration:underline;
        margin: 0 auto;
    }

    #tempCodeCon, #passwordCon, #passwordConfirmCon, #usernameCon {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #tempCodeCon p, #passwordCon p, #passwordConfirmCon p, #usernameCon p{
        margin: 0;
        font-size: 3.8svw;
        text-align: left;
    }

    #tempCodeCon p span, #passwordCon p span, #passwordConfirmCon p span, #usernameCon p span{
        color: red;
        font-size: 3.8svw; 
    }

    #tempCode, #password, #passwordConfirm, #username{
        width: 64svw;
        height: 8svw;
        font-size: 5svw;
    }


    #submitButton {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: auto;
        font-size: 5svw;
        height: 10svw;
        margin: 0 auto;

        background-color: black;
        color: white;
        border-radius: 50px;
        border: solid 1px gainsboro;
        cursor: pointer;
    }
    
    
    #submitButton:hover {
        border: double 3px;
    }

    #coment,#caution {
        font-size: 3.2svw;
        text-align: right;
    }
}