body {
    margin: 20svh;
}

#logoArea {
    margin:0 auto;
    text-align: center;
}
#logoArea img {
    width: 40%;
}

#abstArea {
    margin: auto;
    width: 50%;
    text-align: left;
}

#uiArea{
    text-align: center;
    margin: auto;
    width: 60%;
}
#buttonToAuthentication {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: auto;
    font-size: 2rem;
    color: white;
    height: 4rem;
    border-radius: 50px;
    border: solid 1px gainsboro;
    cursor: pointer;
}
#buttonToAuthentication:hover {
    border: double 3px;
}

@media (max-width:1100px){
    body {
        margin: 20svh 0;
    }
    
    #logoArea {
        margin:0 auto;
        text-align: center;
    }
    #logoArea img {
        width: 80%;
    }
    
    #abstArea {
        margin: auto;
        width: 80%;
        text-align: left;
    }
    
    #uiArea{
        text-align: center;
        margin: auto;
        width: 90%;
    }
    #buttonToAuthentication {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: auto;
        font-size: 2rem;
        color: white;
        height: 4rem;
        border-radius: 50px;
        border: solid 1px gainsboro;
        cursor: pointer;
    }
    #buttonToAuthentication:hover {
        border: double 3px;
        
    }
}