body {
    margin: 10svh auto;

}

#logoArea {
    margin:0 auto;
    padding: 0 5svh;
    width: 50svh;
    text-align: center;
    /* align-items: center; */
}
#logoArea img {
    height: 20svh;
}

#uiArea{
    text-align: center;
    margin: auto;
    padding: 5svh;
    width: 50svh;
    height: 40svh;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 5pt;
    display: grid;
    grid-template-rows: 30% 40% 20% 10%;
}

#pageTitle {
    font-size: 3rem;
    text-decoration:underline;
}
#submitButton {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: auto;
    font-size: 2rem;
    color: white;
    height: 4rem;
    border-radius: 50px;
    border: solid 1px gainsboro;
    cursor: pointer;
}

#submitButton:hover {
    border: double 3px;
}

@media (max-width:1100px){
    body {
        margin: 5svh auto 0;    
    }
    
    #logoArea {
        margin:0 auto;
        padding: 0 5svw;
        width: 80svw;
        text-align: center;
    }
    #logoArea img {
        width: 70svw;
        height: auto;
    }
    
    #uiArea{
        text-align: center;
        margin: auto;
        padding: 5svh 5svw;
        width: 80svw;
        height: 60svh;
        border: solid 2px rgba(0, 0, 0, 0.5);
        border-radius: 5pt;
        display: grid;
        grid-template-rows: 30% 40% 20% 10%;
    }
    
    #pageTitle {
        font-size: 3rem;
        text-decoration:underline;
    }

    #emailCon {
        margin:2svh 0;
    }

    #emailCon #email{
        width: 64svw;
        height: 8svh;
        font-size: 1.7rem;
    }


    #submitButton {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: auto;
        font-size: 2rem;
        color: white;
        height: 4rem;
        border-radius: 50px;
        border: solid 1px gainsboro;
        cursor: pointer;
    }
    
    #submitButton:hover {
        border: double 3px;
    }
}